In [8]:
import pandas as pd
import akshare

df = akshare.stock_zh_a_hist(symbol= '000001',period='daily',start_date='20230101',end_date='20231231',adjust='qfq')
print(df.head())
print(df.columns)

           日期    股票代码     开盘     收盘     最高     最低      成交量           成交额  \
0  2023-01-03  000001  11.35  11.92  12.00  11.20  2194128  2.971547e+09
1  2023-01-04  000001  11.86  12.47  12.57  11.78  2189683  3.110729e+09
2  2023-01-05  000001  12.55  12.63  12.89  12.52  1665425  2.417272e+09
3  2023-01-06  000001  12.65  12.77  12.87  12.63  1195745  1.747915e+09
4  2023-01-09  000001  12.90  12.95  13.03  12.67  1057659  1.561368e+09

     振幅   涨跌幅   涨跌额   换手率
0  7.07  5.39  0.61  1.13
1  6.63  4.61  0.55  1.13
2  2.97  1.28  0.16  0.86
3  1.90  1.11  0.14  0.62
4  2.82  1.41  0.18  0.55
Index(['日期', '股票代码', '开盘', '收盘', '最高', '最低', '成交量', '成交额', '振幅', '涨跌幅', '涨跌额',
       '换手率'],
      dtype='object')

In [9]:
df['MA5'] = df['收盘'].rolling(window=5).mean()
df['MA20'] = df['收盘'].rolling(window=20).mean()
Signal_MA = df['MA5'] > df['MA20']
df['Signal_MA'] = Signal_MA
print(df[['日期','收盘','MA5','MA20','Signal_MA']].tail())
df.head(20)

             日期    收盘    MA5    MA20  Signal_MA
237  2023-12-25  7.63  7.578  7.8135      False
238  2023-12-26  7.54  7.578  7.7710      False
239  2023-12-27  7.56  7.596  7.7410      False
240  2023-12-28  7.89  7.652  7.7295      False
241  2023-12-29  7.83  7.690  7.7160      False

,日期,股票代码,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,MA5,MA20,Signal_MA
0,2023-01-03,000001,11.35,11.92,12.00,11.20,2194128,2.971547e+09,7.07,5.39,0.61,1.13,NaN,NaN,False
1,2023-01-04,000001,11.86,12.47,12.57,11.78,2189683,3.110729e+09,6.63,4.61,0.55,1.13,NaN,NaN,False
2,2023-01-05,000001,12.55,12.63,12.89,12.52,1665425,2.417272e+09,2.97,1.28,0.16,0.86,NaN,NaN,False
3,2023-01-06,000001,12.65,12.77,12.87,12.63,1195745,1.747915e+09,1.90,1.11,0.14,0.62,NaN,NaN,False
4,2023-01-09,000001,12.90,12.95,13.03,12.67,1057659,1.561368e+09,2.82,1.41,0.18,0.55,12.548,NaN,False
5,2023-01-10,000001,12.91,12.59,13.04,12.54,1269423,1.851094e+09,3.86,-2.78,-0.36,0.65,12.682,NaN,False
6,2023-01-11,000001,12.60,12.82,12.93,12.54,830566,1.217451e+09,3.10,1.83,0.23,0.43,12.752,NaN,False
7,2023-01-12,000001,12.92,12.82,12.92,12.68,625695,9.143677e+08,1.87,0.00,0.00,0.32,12.790,NaN,False
8,2023-01-13,000001,12.82,13.10,13.10,12.70,949086,1.407181e+09,3.12,2.18,0.28,0.49,12.856,NaN,False
9,2023-01-16,000001,13.10,13.23,13.43,13.00,1560040,2.356400e+09,3.28,0.99,0.13,0.80,12.912,NaN,False
10,2023-01-17,000001,13.28,13.12,13.33,12.92,935835,1.396152e+09,3.10,-0.83,-0.11,0.48,13.018,NaN,False
11,2023-01-18,000001,13.10,13.26,13.33,13.06,718434,1.083363e+09,2.06,1.07,0.14,0.37,13.106,NaN,False
12,2023-01-19,000001,13.28,13.24,13.40,13.02,641875,9.637446e+08,2.87,-0.15,-0.02,0.33,13.190,NaN,False
13,2023-01-20,000001,13.31,13.28,13.39,13.15,608590,9.201448e+08,1.81,0.30,0.04,0.31,13.226,NaN,False
14,2023-01-30,000001,13.75,13.30,13.89,13.04,1374318,2.096868e+09,6.40,0.15,0.02,0.71,13.240,NaN,False
15,2023-01-31,000001,13.39,13.14,13.66,13.11,1030498,1.568639e+09,4.14,-1.20,-0.16,0.53,13.244,NaN,False
16,2023-02-01,000001,13.18,12.85,13.23,12.66,1653421,2.426472e+09,4.34,-2.21,-0.29,0.85,13.162,NaN,False
17,2023-02-02,000001,12.89,12.75,12.93,12.42,1577900,2.280745e+09,3.97,-0.78,-0.10,0.81,13.064,NaN,False
18,2023-02-03,000001,12.60,12.47,12.70,12.31,1246383,1.782106e+09,3.06,-2.20,-0.28,0.64,12.902,NaN,False
19,2023-02-06,000001,12.25,12.15,12.28,12.01,1317610,1.838429e+09,2.17,-2.57,-0.32,0.68,12.672,12.843,False

In [10]:
df.dropna(inplace=True)
df.head()

,日期,股票代码,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,MA5,MA20,Signal_MA
19,2023-02-06,000001,12.25,12.15,12.28,12.01,1317610,1.838429e+09,2.17,-2.57,-0.32,0.68,12.672,12.8430,False
20,2023-02-07,000001,12.21,12.36,12.47,12.18,869460,1.235298e+09,2.39,1.73,0.21,0.45,12.516,12.8650,False
21,2023-02-08,000001,12.39,12.19,12.47,12.18,657893,9.287089e+08,2.35,-1.38,-0.17,0.34,12.384,12.8510,False
22,2023-02-09,000001,12.16,12.28,12.45,12.11,830350,1.174362e+09,2.79,0.74,0.09,0.43,12.290,12.8335,False
23,2023-02-10,000001,12.25,12.13,12.27,12.01,847284,1.184283e+09,2.12,-1.22,-0.15,0.44,12.222,12.8015,False

In [11]:
delta = df['收盘'].diff()
gain = delta.where(delta>0,0)
loss = -delta.where(delta<0,0)
avg_gain = gain.rolling(window=14).mean()
avg_loss = loss.rolling(window=14).mean()
rs = avg_gain/avg_loss
RSI = 100-(100/(1+rs))
df['Signal_RSI_Weak'] = RSI < 30
df['Signal_RSI_Hot'] = RSI > 70
df.dropna(inplace=True)

In [ ]:
df['DIF'] = df['收盘'].ewm(span=12,adjust=False).mean() - df['收盘'].ewm(span=26,adjust=False).mean()
df['DEA'] = df['DIF'].ewm(span=9,adjust=False).mean()
df['Signal_MACD_Bull']= df['DIF'] >df['DEA']
columns_to_drop = ['DIF', 'DEA']
df.drop(columns_to_drop, axis=1, inplace=True)
df.dropna(inplace=True)
print(df.tail())

             日期    股票代码    开盘    收盘    最高    最低      成交量           成交额    振幅  \
237  2023-12-25  000001  7.62  7.63  7.64  7.58   413971  3.796382e+08  0.79
238  2023-12-26  000001  7.63  7.54  7.64  7.51   541896  4.937466e+08  1.70
239  2023-12-27  000001  7.54  7.56  7.57  7.46   641534  5.820367e+08  1.46
240  2023-12-28  000001  7.55  7.89  7.91  7.52  1661592  1.550257e+09  5.16
241  2023-12-29  000001  7.86  7.83  7.92  7.79   853853  8.031967e+08  1.65

      涨跌幅   涨跌额   换手率    MA5    MA20  Signal_MA  Signal_RSI_Weak  \
237 -0.13 -0.01  0.21  7.578  7.8135      False            False
238 -1.18 -0.09  0.28  7.578  7.7710      False            False
239  0.27  0.02  0.33  7.596  7.7410      False            False
240  4.37  0.33  0.86  7.652  7.7295      False            False
241 -0.76 -0.06  0.44  7.690  7.7160      False            False

     Signal_RSI_Hot  Signal_MACD_Bull
237           False              True
238           False              True
239           False              True
240           False              True
241           False              True

In [13]:
df['Target'] = (df['涨跌幅']>0).shift(-1)
df.dropna(inplace=True)
df.tail(3)

,日期,股票代码,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,MA5,MA20,Signal_MA,Signal_RSI_Weak,Signal_RSI_Hot,Signal_MACD_Bull,Target
238,2023-12-26,000001,7.63,7.54,7.64,7.51,541896,4.937466e+08,1.70,-1.18,-0.09,0.28,7.578,7.7710,False,False,False,True,True
239,2023-12-27,000001,7.54,7.56,7.57,7.46,641534,5.820367e+08,1.46,0.27,0.02,0.33,7.596,7.7410,False,False,False,True,True
240,2023-12-28,000001,7.55,7.89,7.91,7.52,1661592,1.550257e+09,5.16,4.37,0.33,0.86,7.652,7.7295,False,False,False,True,False

In [14]:
from sklearn.model_selection import train_test_split
X = df[['Signal_MA', 'Signal_RSI_Weak', 'Signal_RSI_Hot', 'Signal_MACD_Bull']]
y = df['Target'].astype(int)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,shuffle=False)

In [15]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100,random_state=42)
model.fit(X_train,y_train)
accuracy = model.score(X_test,y_test)
print(f"准确率：{accuracy * 100:.2f}%")

准确率：66.67%

In [16]:
import pandas as pd
student_data = [
    {'name':'张三','math':90},
    {'name':'李四','math':75},
    {'name':'王五','math':88}
]
df = pd.DataFrame(student_data)

print("---原始表格---")
print(df)
mask_pass = df['math'] >= 80
passed_students_view = df[mask_pass]
print("A:过滤")
print(passed_students_view)

df['Pass_Math'] = mask_pass
print("B赋值")
print(df)

---原始表格---
  name  math
0   张三    90
1   李四    75
2   王五    88
A:过滤
  name  math
0   张三    90
2   王五    88
B赋值
  name  math  Pass_Math
0   张三    90       True
1   李四    75      False
2   王五    88       True

In [ ]:
X_test_copy= X_test.copy()
df1 = pd.DataFrame(X_test_copy)
df1['Signal'] = model.predict(X_test)
df1['Actual_Return'] = df.loc(X_test.index)
if:{df1['Signal']=1 df1['Strategy_Return']} =df['Actual_Return' else: ]]

TypeError: unhashable type: 'Index'