In [29]:
import pandas as pd

raw_data = {
    "date":["2023-01-01","2023-01-02","2023-01-03"],
    "price":[10.5,11.2,10.8],
    "vol":[1000,2000,1500]
}

df = pd.DataFrame(raw_data)
print(df)

         date  price   vol
0  2023-01-01   10.5  1000
1  2023-01-02   11.2  2000
2  2023-01-03   10.8  1500

In [30]:
close_prices = df["price"]
print(close_prices)
print(type(close_prices))

0    10.5
1    11.2
2    10.8
Name: price, dtype: float64
<class 'pandas.core.series.Series'>

In [31]:
my_list = [10,20,30]
print("列表乘以2的结果：")
print(my_list * 2)

print("Series 乘以2的结果：")
print(close_prices * 2)

列表乘以2的结果：
[10, 20, 30, 10, 20, 30]
Series 乘以2的结果：
0    21.0
1    22.4
2    21.6
Name: price, dtype: float64

In [32]:
df['amount'] = df['price'] * df['vol']
print(df['amount'])

0    10500.0
1    22400.0
2    16200.0
Name: amount, dtype: float64

In [33]:
mask = df['vol'] > 1200
print(mask)

0    False
1     True
2     True
Name: vol, dtype: bool

In [34]:
high_vol_days = df[mask]
print(high_vol_days)

         date  price   vol   amount
1  2023-01-02   11.2  2000  22400.0
2  2023-01-03   10.8  1500  16200.0

In [35]:
df['ma2'] = df['price'].rolling(window=2).mean()
df.dropna(inplace=True)
print(df)

         date  price   vol   amount    ma2
1  2023-01-02   11.2  2000  22400.0  10.85
2  2023-01-03   10.8  1500  16200.0  11.00