In [4]:
#11.24 chp5
#Series
import pandas as pd
import numpy as np
#简单序列
obj = pd.Series([4,7,-5,3])
print("简单Series:\n",obj)
#自定义索引的序列
obj2 = pd.Series([4,7,-5,3],index = ['d','b','a','c'])
print(obj3)
#像字典一样访问
print(obj2['a'])
#像数组一样运算 (保留索引！)
print(obj2[obj2>0])

简单Series:
 0    4
1    7
2   -5
3    3
dtype: int64
d    4
b    7
a   -5
c    3
dtype: int64
-5
d    4
b    7
c    3
dtype: int64

In [5]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [8]:
#Dataframe 一个Excel表格，列由很多Series组成，行共用一个索引
#准备数据，字典
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
#创建DataFrame
frame = pd.DataFrame(data)
print(frame)
frame2 = pd.DataFrame(data,columns=['year', 'state', 'pop', 'debt'],index=['one', 'two', 'three', 'four', 'five', 'six'])
print("\n重排并新增列后的表格:\n", frame2)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

重排并新增列后的表格:
        year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [10]:
#Index objects immutable
obj = pd.Series(range(3),index = ['a', 'b', 'c'])
index = obj.index
print("当前索引：",index)
# 尝试修改索引的第 1 个元素
index[1] = 'd'

当前索引： Index(['a', 'b', 'c'], dtype='object')

TypeError: Index does not support mutable operations

In [12]:
#quiz1
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4
#index 参数决定了最终 Series 长什么样（有哪些行），字典只负责提供数据 类似花名册

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [16]:
#quiz2 修改序列值会改变原始序列，说明是view 与numpy相同
val =frame2['debt']
val[:] = 100
print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  100
two    2001    Ohio  1.7  100
three  2002    Ohio  3.6  100
four   2001  Nevada  2.4  100
five   2002  Nevada  2.9  100
six    2003  Nevada  3.2  100

C:\Users\马语遥\AppData\Local\Temp\ipykernel_14324\3050738209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val[:] = 100

In [19]:
#quiz3  如果就是要改‘b’为‘d’呢
obj.index=['a','d','c'] #不能修改但可以替换
print(obj)

a    0
d    1
c    2
dtype: int64

In [20]:
#11.25
#essential operation
import pandas as pd
import numpy as np
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
#重新排座次 reindex
obj2 = obj.reindex(['a','b','c', 'd', 'e'])
print("重新索引后：\n",obj2)

重新索引后：
 a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [22]:
#dropping entries
data = pd. DataFrame(np.arange(16).reshape((4,4)), #新
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])
print('原始数据：',data)
#删除行
print("删除'Ohio':\n",data.drop('Ohio'))  #默认丢行（axis=0）
#删除列
print('删除 two 列',data.drop('two',axis=1)) #丢列记得加axis=1

原始数据：           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
删除'Ohio':
           one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
删除two列           one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [23]:
#selection with loc& iloc
#1.loc(名字)
print('使用loc：\n',data.loc['Colorado',['two','three']]) #选co一行及two three两列 
#2.iloc选（位置）
print('使用iloc:\n',data.iloc[1,[1,2]]) #co是第二行（从0开始数），'two''three'是第1,2列

使用loc：
 two      5
three    6
Name: Colorado, dtype: int64
使用iloc:
 two      5
three    6
Name: Colorado, dtype: int64

In [24]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1+df2)

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [ ]:
#我想用 .loc 选取从 'Ohio' 到 'Utah' 的所有行（包含 Utah）。代码是 data.loc['Ohio':'Utah'] !!这里切片规则与python切片不同。
#这里标签包含尾，因为在实际应用中很难去找下一个是什么名字
#但.iloc不包含尾，仍为python切片